body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: #ccc;
  font-weight: 300;
}

.content article {
  padding: 100px 0;
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
}

img {
  max-width: 100%;
}

.bird-box {
  position: relative;
  height: 600px;
  background-image: url(../img/bird-bg.jpg);
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  overflow: hidden;
}

.logo {
  height: 100px;
  width: 100%;
  background-image: url(../img/black-bird-logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -50px;
}

.wood {
  width: 444px;
  height: 733px;
  background-image: url(../img/wood.png);
  background-repeat: no-repeat;
  background-position: -34px;
  position: absolute;
  left: 56%;
  top: 380px;
  border: 3px dashed transparent;
}

.wood:before {
  content: '';
  position: absolute;
  width: 365px;
  bottom: 0;
  left: -16px;
  height: 593px;
  border: 3px dashed transparent;
}

.wood.hovered:before {
  border-color: black;
}

.wood-left {
  left: 4%;
  top: 340px;
}

.bird {
  width: 444px;
  height: 183px;
  background-image: url(../img/bird.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  position: absolute;
}

.back-bird {
  width: 960px;
  height: 298px;
  background-image: url(../img/back-bird.png);
  background-repeat: no-repeat;
  background-position: top left;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.invisible {
  display: none;
}
